<!DOCTYPE html>
<html>
<head>
    <title>iLopezosa</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" href="./output.css">
</head>
<body class="bg-slate-200">
    <header class="text-slate-800 transition duration-300 hover:bg-white hover:text-black">
        <a href="#home" hx-get="/home" hx-target="#content">
            <h1 class="text-shadow-transparent text-7xl p-4 font-bold text-center">Ignacio Lopezosa Serrano</h1>
        </a>
    </header>
    <nav class="bg-slate-300 sticky top-0 content">
        <ul class="flex justify-center items-center text-3xl text-white font-bold uppercase">
            <li class="mx-20 p-3 transition duration-150 hover:text-black"><a href="#about" hx-get="/about" hx-target="#content">About</a></li>
            <li class="mx-20 p-3 transition duration-150 hover:text-black"><a href="#projects" hx-get="/projects" hx-target="#content">Projects</a></li>
            <li class="mx-20 p-3 transition duration-150 hover:text-black"><a href="#contact" hx-get="/contact" hx-target="#content">Contact</a></li>
        </ul>
    </nav>
    
    <main id="content" class="mx-10 my-20 text-2xl text-justify" hx-get="/home" hx-trigger="load"></main>

    <footer class="bg-slate-300 text-white">
        <div class="max-w-6xl mx-auto px-4 py-10 md:py-20">
            <div class="xl:grid xl:grid-cols-3 xl:gap-8">
                <!-- About Us Section -->
                <div class="mb-8 xl:mb-0">
                    <h5 class="uppercase font-bold mb-6 text-2xl">Footer</h5>
                    <p class="text-slate-400 text-xl">This is just a generic footer to make the web site appear more authoritative. If you are reading this, I commend you for your curiosity.</p>
                    <p class="text-slate-400 mt-10 text-xl">Torremolinos, Málaga, Spain</p>
                </div>
    
                <!-- Quick Links Section -->
                <div class="mb-8 xl:mb-0">
                    <h5 class="uppercase font-bold mb-6 text-2xl">Quick Links</h5>
                    <ul class="text-slate-400 text-xl">
                        <li class="mb-4">
                            <a href="#home" class="hover:text-slate-600 transition-colors duration-300" hx-get="/home" hx-target="#content">Home</a>
                        </li>
                        <li class="mb-4">
                            <a href="#about" class="hover:text-slate-600 transition-colors duration-300" hx-get="/about" hx-target="#content">About</a>
                        </li>
                        <li class="mb-4">
                            <a href="#projects" class="hover:text-slate-600 transition-colors duration-300" hx-get="/projects" hx-target="#content">Projects</a>
                        </li>
                        <li class="mb-4">
                            <a href="#contact" class="hover:text-slate-600 transition-colors duration-300" hx-get="/contact" hx-target="#content">Contact</a>
                        </li>
                    </ul>
                </div>
    
                <!-- Contact Section -->
                <div class="mb-8 xl:mb-0">
                    <h5 class="uppercase font-bold mb-6 text-2xl">Socials</h5>
                    <ul class="text-slate-400 text-xl">
                        <li class="mb-4">
                            <a href="https://twitter.com/ilopezosa_dev" class="hover:text-slate-600 transition-colors duration-300 flex items-center" target="_blank">
                                Twitter
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="https://github.com/iLopezosa" class="hover:text-slate-600 transition-colors duration-300 flex items-center" target="_blank">
                                GitHub
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="https://www.linkedin.com/in/ilopezosa/" class="hover:text-slate-600 transition-colors duration-300 flex items-center" target="_blank">
                                LinkedIn
                            </a>
                        </li>
                        <li class="mb-4">
                            Discord: <code>ilopezosa</code>
                        </li>
                    </ul>
                </div>
            </div>
    
            <!-- Bottom Bar -->
            <div class="pt-8 mt-8 border-t border-slate-300">
                <p class="text-center text-slate-400">© 2023 iLopezosa. All Rights Reserved.</p>
            </div>
        </div>
    </footer>    
</body>
</html>